body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #FFFFFF;
}

.icon-text-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-line {
    border-left: 1px solid gray;
    height: 60%;
    margin: 0%;
}

.vertical-line-white {
    border-left: 1px solid black;
    height: 60%;
    margin: 0%;
}

.icon {
    width: 30px;
    height: 25px;
    /* background-color: white; */
}

#topBar {
    display: flex;
    justify-content: space-between;
    /* background-color: black; */
    width: 80%;
    margin: auto;
}

#topBar * {
    /* color: white; */
    margin: 0.1em;
    vertical-align: middle;
}

#topBar div:nth-child(1) {
    display: flex;
    width: 50%;
    gap: 10%;
}

#topBar div:nth-child(2) {
    display: flex;
    width: 25%;
    gap: 10%;
    justify-content: space-evenly;
}

.search-bar {
    border: none;
    background-color: #ECEDEB;
    width: 25em;
    height: 3.5em;
    border-radius: 2%;
}

h1 {
    font-size: 1.7em;
}

nav a {
    text-decoration: none;
    color: black;
}

#topBar a {
    text-decoration: none;
    color: black;
}

nav {
    background-color: #F7F8F7;
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    /* gap: 4%; */
    justify-content: space-evenly;
}

#categories {
    margin: auto;
    width: 80%;
    display: flex;
    gap: 1%;
    justify-content: space-evenly;
}

#add {
    background-color: orange;
    color: white;
    width: 80%;
    height: 30px;
    padding: 0.3%;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    margin: auto;
}