body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #FFFFFF;
}

body h2 {
    font-size: 1.2em;
}

body h3 {
    font-size: 0.9em;
    font-weight: 600;
}

#displayProductDiv {
    margin: auto;
    display: grid;
    grid-template-columns: 19vw 19vw 19vw 19vw;
    gap: 1.5%;
    padding: 3%;
    width: 80%;
}

#displayProductDiv>div {
    box-sizing: border-box;
    padding: 1%;
    width: 100%;
    height: auto;
}

img {
    width: 100%;
    height: 60%;
}

#discountTag {
    background-color: white;
    display: inline-flex;

    padding: 0.3em;
    font-weight: 900;
    font-size: 1vw;
    border-radius: 4%;

    position: absolute;
    z-index: 1;
    
    margin-left: 0.3%;
    margin-top: 0.3%;
}

#selectionDiv {
    margin-left: 0%;
    margin-right: 0%;
    /* border: 1px solid green; */
    width: 97%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1%;
    padding: 2%;
}

#colorsOption, #sizesOption {
    margin: auto;
    font-size: 1em;
    border-radius: 2%;
    border: 1px solid lightgrey;
    width: 100%;
    height: 3em;
}

#addToCartBtn {
    margin: auto;
    border: none;
    width: 100%;
    height: auto;
    cursor: pointer;
    padding: 7%;
    border-radius: 2%;
    background-color: #FAA81E;
    color: white;
}

#outerPartSortingPanel {
    background-color: #F7F8F7;
}

#sortingPanel {
    margin: auto;
    width: 80%;
    padding: 3%;
}

#sortingPanel select {
    padding: 1%;
    border: 1px solid #F7F8F7;
}